body {
    font-family: 'Cardo', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*-- Container =========
=====================*/
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}


/*-- Header =========
=====================*/
.header {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: auto;
	z-index: 1000;
}

.header__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;

	border-bottom: 1px solid #2a2e48;
	padding: 38px 0;
}

/*-- Nav =========
=====================*/
.nav__link {
	opacity: 0.75;
	color: #ffffff;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	transition: opacity .1s linear;

	margin-left: 59px;
}

.nav__link:hover {
	opacity: 1;
}

.nav__link:first-child {
	margin-left: 0;
}


/*-- Intro =========
=====================*/
.intro {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 750px;
	padding-top: 100px;

	background: url("../images/intro-bg.jpg")center no-repeat;
}

.intro__inner {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 65px;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;

	margin-bottom: 41px;
}

.intro__text {
	color: #ffffff;
	font-family: Raleway;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;

	margin-bottom: 77px;
}


/*-- Button =========
=====================*/
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 18px 46px;
	border-radius: 2px;

	color: #ffffff;
	font-family: "Raleway";
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;

	transition: background .1s linear;
}

.btn--mod {
	background: #e84545;
}

.btn--mod:hover {
	background: #dd3434;
}


/*-- Features =========
=====================*/
.features {
	padding: 121px 0 47px;
}

.features-box {
	display: flex;
	flex-wrap: wrap;

	text-align: center;
}

.features__item {
	width: 33%;
	padding: 0 43px;
}

.features__icon {
	padding-bottom: 34px;
}

.features__title {
	color: #2d3033;
	font-family: Raleway;
	font-weight: 700;
	text-transform: uppercase;

	padding-bottom: 25px;
}

.features__text {
	color: #6c7279;
	font-family: Raleway;
	font-weight: 400;
	line-height: 21px;

	padding-bottom: 74px;
}