*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.section-img {
    padding: 200px 0;
    width: 100%;
    background-position: bottom -200px left 0;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.section-img:after {
    content: '';
    background-color: #222222;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.45;
}

.section-content {
    max-width: 745px;
    margin: 0 auto;

    position: relative;
}

.section__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    margin-bottom: 147px;
}

.section__title:after {
    content: '';
    display: block;
    width: 86px;
    height: 2px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 113px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.section__text {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 119px;
}

.section-btn {
    padding: 41px 100px 33px;
    background-color: transparent;
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.2px;
    border: 3px solid #ffffff;
    cursor: pointer;
    transition: all .3s linear;
}

.section-btn:hover {
    background-color: rgba(255, 255, 255, .2);
}


/*====== Header ===========
=========================*/

.header {
    background-color: transparent;
    width: 100%;
    margin: 0px auto;
    position: absolute;
    z-index: 1000;
}

.header.fixed {
	position: fixed;

	background-color: #D46D4E;

	padding-bottom: 5px;

}

.header.fixed .nav {
	padding-top: 10px;
}

.header.fixed .nav > .nav-menu__link {
	padding-bottom: 0px;
}

/*====== Nav ===========
=========================*/

.nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.nav-menu__link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    display: block;
    opacity: 0.7;
    transition: border, opacity 0.3s;
    list-style: none;
    text-decoration: none;
    color: #fff;
    border-bottom: 0px solid rgba(255, 255, 255, 0.6);
    padding: 0px 0px 15px;
}

.nav-menu__link:hover {
    opacity: 1;
    /*padding-bottom: 20px;*/
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.nav-menu__link {
	height: 30px;
}

.burger {
	position: absolute;
	top: 30px;
	right: 35px;

	opacity: .7;
	display: none;
}

#burger {
	opacity: 1;
	margin-right: -29px;
	margin-top: -5px;
}

.burger__icon {
	cursor: pointer;
}


/*====== Intro ===========
=========================*/

.intro {
    padding: 320px 0px 60px;
    background: #d47154 url(../images/BG.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.intro-inner {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}

.intro__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
}

.intro__title:after {
    content: '';
    display: block;
    width: 86px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 113px;

    transform: translate(-50%, -50%);
}

.intro__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1.1px;
    position: relative;
    margin: 100px 0 286px;
}


/*====== Introduction ===========
=========================*/

.introduction {
    padding-top: 120px;
    text-align: center;
    color: #222222;
}

.introduction-inner {
    max-width: 745px;
    margin: 0 auto;
}

.introduction-content {
    position: relative;
}

.introduction-img {
    background: url(../images/introduction/bg-img.jpg) center no-repeat;
    opacity: .9;
}


/*====== Work ===========
=========================*/

.work {
    padding: 120px 0px 80px;
    text-align: center;
}

.nav-work {
    max-width: 700px;
    margin: 0 auto;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.work-menu {
	width: 100%;
    margin-bottom: 87px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    list-style: none;
    -ms-align-items: center;
    align-items: center;
}

.work-menu__icon {
	display: none;

	/*margin: 0 auto;*/
}

.work-menu__link {
    width: 20%;
    height: 32px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.work-menu__link a {
    color: #222222;
    text-decoration: none;
    transition: all .3s linear;
}

.work-menu__link a:hover {
    font-family: 'Open Sans';
    font-weight: 700;
}

.work-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.work-box {
    width: 33%;
    position: relative;
    margin-bottom: 20px;
    padding: 0 10px;
}

.work-box__img {
    width: 100%;
    height: auto;
}

.box-photo {
    width: 100%;
    height: auto;
}

.work-box__text {
    border: 8px solid #000000;
    background-color: rgba(0, 0, 0, .7);
    width: 95%;
    /*max-width: 366px;*/
    height: 99%;
    position: absolute;
    top: 0;
    left: 9px;
    z-index: 2;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity .4s linear;
    overflow: hidden;
}

.work-box:hover .work-box__text {
    opacity: 1;
}

.text-mobile {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.text-google {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.button-other {
    margin-top: 79px;
    padding: 22px 97px;
    border: 3px solid #222222;
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.96px;
    cursor: pointer;
    transition: all .3s linear;
}

.button-other:hover {
    background-color: rgba(34, 34, 34, .2);
}

.text-google:after {
    content: '';
    display: block;
    width: 48px;
    height: 2px;
    position: absolute;
	left: 50%;
	bottom: 31%;
	transform: translate(-50%, -50%);
	/*margin-right: auto;
	margin-left: auto;*/

    background-color: #d87843;
}


/*====== Help ===========
=========================*/

.help {
    text-align: center;
    width: 100%;
}

.help-img {
    background: #222222 url(../images/help/help-img.jpg) center no-repeat;
    position: relative;
    z-index: 1;
}

.help-btn {
    padding-right: 74px;
    padding-left: 74px;
}


/*====== Clients ===========
=========================*/

.clients {
    padding: 120px 0 140px;
    background-color: #f4f4f4;
    text-align: center;
}

.clients-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.clients-inner__item {
    width: 20%;
}


/*====== About ===========
=========================*/

.about {
    padding: 120px 0 80px;
    text-align: center;
}

.about-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about-box {
    width: 270px;
    height: 360px;
    position: relative;
}

.about__img {
    width: 270px;
	height: 360px;

    margin: 0 auto;
}

.about__photo {
	width: 270px;
	height: 360px;

	position: relative;
}

.about__name {
    /*content: '';*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid #000000;
    background-color: rgba(34, 34, 34, .5);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-end;
    justify-content: flex-end;
    z-index: 2;
    opacity: 0;
    transition: all .4s linear;
    cursor: pointer;
}

.about__name:hover {
    opacity: 1;
}

.about__name:after {
    content: '';
    background-image: url(../images/about/about-icon.png);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 18px;
}

.about__name-name {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
}

.about__name__prof {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
    margin-bottom: 30px;
}

.about__hire {
    width: 271px;
    height: 360px;
    /*height: 100%;*/
    position: absolute;
    /*margin-top: -365px;
	margin-left: 12px;*/
    top: 0;
    left: 0;
    border: 1px solid #222222;
    background-color: #ffffff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    /*z-index: 2;*/
    /*visibility: hidden;*/
    opacity: 0;
    transition: all .4s linear;
}

.about-box:active .about__hire {
    /*visibility: visible;*/
    opacity: 1;
}

.about-box:active .about__name {
    display: none;
}

.about__hire__slogan {
    color: #222222;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 87px;
}

.about__hire__slogan:after {
    content: '';
    display: block;
    width: 86px;
    height: 2px;
    background-color: #222222;
    margin: 0 auto;
}

.button-about {
    padding: 22px;
    width: 183px;
    margin: 0 auto;
}


/*====== Playback ===========
=========================*/

.playback {
    padding: 218px 0;
    background: url(../images/playback/playback-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.playback:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, .4);
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: 1;*/
}

.playback__icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background: url(../images/playback/Play_icon.png) center no-repeat;
    position: relative;
    z-index: 10;
}


/*====== Choose ===========
=========================*/

.choose {
    padding: 120px 0 149px;
    text-align: center;
}

.choose-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.choose-box {
    width: 25%;
    font-family: 'Roboto';
    color: #222222;
    padding: 0 16px;
}

.choose-box__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.24px;
    margin-top: 42px;
}

.choose-box__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 38px;
}


/*====== Quote ===========
=========================*/

.quote {
    text-align: center;
}

.qoute-img {
    background: url(../images/quote/quote-bg.jpg) center no-repeat;
    background-size: cover;
}


/*====== Touch ===========
=========================*/

.touch {
    padding: 120px 0 113px;
    text-align: center;
}


/*====== Contacts ===========
=========================*/

.contacts-inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.contacts-adress {
    width: 39%;
    /*	padding-left: 215px;
	padding-top: 120px;*/
    padding: 120px 0 120px 215px;
    background-color: #f2f2f2;
}

.contacts-adress__title {
    font-family: 'Open Sans';
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 43px;
}

.adress {
    font-family: 'Roboto';
    color: #222222;
    font-size: 22px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 33px;
}

.contacts-social a {
    margin-right: 20px;
}

.contacts-form {
    width: 61%;
    padding-right: 215px;
    padding-left: 103px;
    padding-top: 108px;
    background-color: #e4e4e4;
}

.form {
    color: #676767;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    font-style: italic;

    position: relative;
}

.form input {
    width: 300px;
    border: none;
    border-bottom: 2px solid #afafaf;
    font-style: italic;
    background-color: transparent;
    margin-right: 15px;
    margin-bottom: 135px;
    padding-bottom: 5px;
    outline: none;
}

.form .mesage {
    width: 618px;
    margin-bottom: 40px;
}

.contacts-btn {
    padding: 22px 62px;
    margin: 0;

    position: absolute;
    right: 0;
    bottom: -92px;
}


/*====== Footer ===========
=========================*/

.footer {
    padding: 101px 0 96px;
    background-color: #222222;
    text-align: center;
    font-family: 'Roboto';
}

.footer-logo {
    margin-bottom: 65px;
}

.icon2 {
	display: none;
}

.footer-text {
    color: #e4e4e4;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-text span {
    color: #d87843;
}


/*====== Media ===========
=========================*/

@media (max-width: 1560px) {
	.form input {
		margin-bottom: 80px;
	}
}

@media (max-width: 1200px) {
    /* --- Clients --- */
    .clients {
        padding: 120px 20px 140px;
    }
    /* --- About --- */
    .about-inner {
        justify-content: space-around;
        margin: 0 50px;
    }
    .about-box {
        width: 35%;
        margin-bottom: 40px;
    }
    .about__name {
        left: 0;
    }

    /* --- Choose --- */

    .choose-box {
    	width: 50%;

    	margin-bottom: 50px;
    	padding: 0 20px;
    }

	/* --- Contacts --- */
    .contacts-adress {
    	padding-left: 150px;
    }

    .contacts-form {
    	padding-right: 150px;
    	padding-left: 90px;
    }

    .form .mesage {
    	width: 500px;
    }

    /* --- Footer --- */
	.footer {
		padding: 90px 0 80px;
	}

}

@media (max-width: 991px) {
    .section__title {
        margin-bottom: 130px;
    }
    .section-btn {
        font-size: 28px;
        padding: 35px 75px 30px;
    }

    .section__text {
    	margin-bottom: 90px;
    }

    .button-other {
    	font-size: 20px;

    	padding: 20px 80px;
    }

    /* --- Intro --- */
    .intro__title {
        font-size: 50px;
    }

    /* --- Work ---*/
    .work {
        padding: 60px 20px 50px;
    }
    .work-box {
        width: 50%;
    }

    .work-box__text {
    	width: 96%;
    }

    /* --- Clients --- */
    .clients {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .clients-inner__item {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 50%;
    }

    /* --- About --- */
    .about {
        padding-top: 60px;
    }

    /* --- Touche --- */
    .touch {
    	padding: 80px 0 60px;
    }

    /* --- Contacts --- */
	.contacts-inner {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.contacts-adress {
		width: 100%;

		text-align: center;

		padding: 80px 0;
	}

	.contacts-form {
		width: 100%;

		padding: 80px 80px 50px 50px;
	}

	.form {
		margin-bottom: 100px;
	}

	/* --- Footer --- */
	.footer {
		padding: 70px 0 60px;
	}

}

@media (max-width: 767px) {
    .section__title {
        font-size: 28px;
        margin-bottom: 80px;
    }
    .section__text {
        font-size: 20px;
        padding: 0 18px;

        margin-bottom: 80px;
    }
    .section-btn {
        font-size: 26px;
        padding: 20px 50px 20px;
    }

    .button-other {
    	font-size: 18px;

    	padding: 15px 60px;
    }

    /* --- Header --- */
    .header.fixed {
    	height: 55px;
    }

    .header.fixed .nav {
    	padding-top: 60px;
    }

    /* --- Burger-menu --- */

    .nav {
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	-ms-flex-direction: column;
    	-o-flex-direction: column;
    	flex-direction: column;
    	-ms-align-items: flex-end;
    	align-items: flex-end;


    	padding-right: 20px;
    	padding-top: 60px;

    	border: none;

    	background-color: #D46D4E;

    	visibility: hidden;
    }

    .nav.show {
    	visibility: visible;
    }

    .nav-menu__link {
    	height: 25px;

    	margin-bottom: 15px;
    }

    .burger {
    	display: block;

    	top: 15px;
    }


    /* --- Intro --- */

	.intro {
		padding-top: 250px;
	}

    .intro__title {
        font-size: 44px;
    }
    .intro__text {
        font-size: 18px;
        padding: 0 15px;
    }


    /* --- Work ---*/
    .work {
        padding: 60px 20px 50px;
    }

    .work-menu {
    	margin-bottom: 40px;
    }

    .nav-work {
    	justify-content: center;
    }

	.work-menu__link {
		display: none;
	}

	.work-menu__icon {
		display: block;

		margin-right: 45%;

		margin-bottom: 30px;
	}

    .work-box {
        width: 100%;
    }

    .work-box__text {
        width: 98%;
        height: 100%;
    }

    .text-mobile {
    	font-size: 26px;
    }

    .text-google {
    	font-size: 33px;
    }

    /* --- Clients --- */
    .clients {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .clients-inner__item {
        margin-bottom: 45px;
    }

	/* --- About --- */
    .about-box {
    	width: 100%;
    }

    .about__img {
    	margin: 0 auto;
    }

	 /* --- Choose --- */
    .choose {
		padding: 70px 0 80px;
    }

    .choose-box {
    	width: 100%;

    	padding: 0 50px;
    }

    /* --- Touche --- */
    .touch {
    	padding: 60px 0 30px;
    }

	/* --- Contacts --- */
    .form input {
    	margin-bottom: 80px;
    }

	/* --- Footer --- */
    .footer {
		padding: 60px 0 50px;
    }

	.footer-logo {
		margin-bottom: 40px;
	}

}

@media (max-width: 600px) {
	/* --- Contacts --- */
	.form .mesage {
    	width: 400px;
    }
}


@media (max-width: 540px) {
	.section-btn {
        font-size: 22px;
        padding: 15px 40px 15px;
    }

    .button-other {
    	font-size: 16px;

    	padding: 16px 50px;
    }

    /* --- Work ---*/ 
    .work-box__text {
    	width: 96%;
    }


	/* --- Clients --- */
	.clients-inner__item {
        width: 100%;

        margin-bottom: 50px;
    }

    /* --- Choose --- */
    .choose {
		padding: 50px 0 60px;
    }

    /* --- Touche --- */
    .touch {
    	padding: 30px 0 10px;
    }

    /* --- Contacts --- */
	.contacts-form {
		padding: 50px 70px 35px 30px;
	}

	.form input {
		width: 200px;

		margin-bottom: 60px;
	}

    .form .mesage {
    	width: 300px;
    }

    .footer-text {
    	font-size: 12px;
    }

}

@media (max-width: 463px) {

	 /* --- Intro --- */
	 .intro__title:after {
	 	top: 160px;
	 }
}

@media (max-width: 420px) {

	.section__text {
		font-size: 18px;
	}

	/* --- Work ---*/ 
	.text-google:after {
		left: 43%;
	}

	/* --- Footer --- */

	.footer {
		padding: 40px 0 30px;
	}

	.icon2 {
		display: block;

		margin: 0 auto;
	}

	.icon1 {
		display: none;
	}

	.footer-text {
    	font-size: 11px;
    }

}