body {
    font-family: sans-serif;
    background-color: #FDF5E6;
}

.task {
    border: 1px solid rgb(70, 45, 45);
    padding: 5px 10px;
    margin-bottom: 7px;
}

.task span {
    font-weight: 700;
}

.answer {
    font-weight: 700;
    color: rgb(27, 20, 20);
}